<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  </appSettings>
  <maptypes>
    <add key="GOOGLEMAP" value="http://mt{GOOGLE_DIGIT}.google.com/vt/lyrs=m@112#hl=en#x={X}#y={Y}#z={ZOOM}#s={GALILEO}" />
    <add key="GOOGLESATELLITE" value="http://khm{GOOGLE_DIGIT}.google.com/kh/v=48#x={X}#y={Y}#z={ZOOM}#s={GALILEO}" />
    <add key="GOOGLEHYBRID" value="http://mt{GOOGLE_DIGIT}.google.com/vt/lyrs=h@112#hl=en#x={X}#y={Y}#z={ZOOM}#s={GALILEO}" />
    <add key="GOOGLETERREN" value="http://mt{GOOGLE_DIGIT}.google.com/vt/v=w2p.112#hl=en#x={X}#y={Y}#z={ZOOM}#s={GALILEO}" />
    <add key="GOOGLECHINA" value="http://mt{GOOGLE_DIGIT}.google.cn/vt/v=w2.112#hl=en#gl=cn#x={X}#y={Y}#z={ZOOM}#s={GALILEO}" />
    <add key="MICROSOFTMAP" value="http://ecn.t{MS_DIGIT}.tiles.virtualearth.net/tiles/r{QUAD}.png?g=367#mkt=en-us" />
    <add key="MICROSOFTSATELLITE" value="http://ecn.t{MS_DIGIT}.tiles.virtualearth.net/tiles/a{QUAD}.png?g=367#mkt=en-us" />
    <add key="MICROSOFTHYBRID" value="http://ecn.t{MS_DIGIT}.tiles.virtualearth.net/tiles/h{QUAD}.png?g=367#mkt=en-us" />
    <add key="MICROSOFTTERREN" value="http://ecn.t{MS_DIGIT}.tiles.virtualearth.net/tiles/r{QUAD}.png?g=367#mkt=en-us#shading=hill" />
    <add key="MICROSOFTCHINA" value="http://r{MS_DIGIT}.tiles.ditu.live.com/tiles/r{QUAD}.png?g=44" />
    <add key="YAHOOMAP" value="http://maps{YAHOO_DIGIT}.yimg.com/hx/tl?v=4.2#.intl=en#x={X}#y={YAHOO_Y}#z={YAHOO_ZOOM}#r=1" />
    <add key="YAHOOINDIAHYBRID" value="http://maps.yimg.com/hw/tile?imgtype=png#yimgv=0.95#t=h#x={X}#y={YAHOO_Y}#z={YAHOO_ZOOM_2}" />
    <add key="YAHOOINDIAMAP" value="http://maps.yimg.com/hw/tile?locale=en#imgtype=png#yimgv=1.2#v=4.1#x={X}#y={YAHOO_Y}#z={YAHOO_ZOOM_2}" />
    <add key="YAHOOSATELLITE" value="http://maps{YAHOO_DIGIT}.yimg.com/ae/ximg?v=1.9#t=a#s=256#.intl=en#x={X}#y={YAHOO_Y}#z={YAHOO_ZOOM}#r=1" />
    <add key="YAHOOHYBRID" value="http://maps{YAHOO_DIGIT}.yimg.com/hx/tl?v=4.2#t=h#.intl=en#x={X}#y={YAHOO_Y}#z={YAHOO_ZOOM}#r=1" />
    <add key="OPENSATELLITETMAP" value="http://tile.openaerialmap.org/tiles/?v=mgm#layer=openaerialmap-900913#x={X}#y={Y}#zoom={OAM_ZOOM}" />
    <add key="OPENCYCLEMAP" value="http://andy.sandbox.cloudmade.com/tiles/cycle/{ZOOM}/{X}/{Y}.png" />
    <add key="OPENSTREETMAP" value="http://tile.openstreetmap.org/{ZOOM}/{X}/{Y}.png" />
    <add key="OSMAMAP" value="http://tah.openstreetmap.org/Tiles/tile/{ZOOM}/{X}/{Y}.png" />
    <add key="MAPABCCHINA" value="http://emap{GOOGLE_DIGIT}.mapabc.com/mapabc/maptile?v=w2.99#x={X}#y={Y}#zoom={OAM_ZOOM}" />
    <add key="NOKIAMAP" value="'http://maptile.svc.nokia.com.edgesuite.net/maptiler/maptile/0.1.22.103/normal.day/{NOKIA_ZOOM}/{X}/{Y}/256/png" />
  </maptypes>
</configuration>
